# Data Exploration with Python

(Review Reading Assignments: Analyzing Tabular Omics Data using Pandas DataFrames, and Data Visualization/Data Visualization with Seaborn)

## 1. Explore [this dataset on infectious diseases from the CA Dept. of Public Health](https://catalog.data.gov/dataset/infectious-diseases-by-disease-county-year-and-sex-d8912).

In [ ]:
# Download the dataset using Python functions
from urllib.request import urlretrieve

In [ ]:
dataset_url = 'https://data.chhs.ca.gov/dataset/03e61434-7db8-4a53-a3e2-1d4d36d6848d/resource/75019f89-b349-4d5e-825d-8b5960fc028c/download/odp_idb_2001_2022_ddg_compliant.csv'
data_file_name = 'dataset.csv'
urlretrieve(dataset_url, data_file_name)

In [ ]:
# Use pandas dataframes to explore the dataset
import pandas as pd

In [ ]:
df = pd.read_csv(data_file_name)

In [ ]:
# A useful attribute that tells you the rows and columns of a dataframe is `dataframe.shape`
df.shape

In [ ]:
# A useful function that shows you the first 5 rows of a dataframe is `dataframe.head()`
df.head()

In [ ]:
# `.value_counts()` gives you a count of the number of occurrences (rows) for each column value
df['Disease'].value_counts()

In [ ]:
# Use `dataframe.loc[]` to subset the data and view aspects you're interested in.
df.loc[(df['Disease'] == 'Anaplasmosis') & (df['Cases'] > 0), :]

In [ ]:
# The following line tells the notebook to display the figures when it's generated
%matplotlib inline

# Import seaborn
import seaborn as sns

# Apply a theme
sns.set_context("notebook", font_scale=1.0)

## 2. Select a disease of your choice. Plot the number of cases of that disease by county, for the year 2022.

Here is an overview of seaborn's plotting functions: https://seaborn.pydata.org/tutorial/function_overview.html . Use the guide to complete the functions in the code below to plot the number of cases by county for 2022.

In [ ]:
# Provide the functions with the appropriate arguments for making your plot.
ax = sns.barplot()
ax.set_title()
ax.get_figure()

## 3. Select a disease of your choice. Plot the number of cases of that disease in Los Angeles between the years 2001-2010.

## 4. Create another plot of your choice, with an appropriate title.